#main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-areas: 
    "headline headline headline "
    "quote quote student-pic"
    "profile profile contact"
    "experience experience experience";
    align-items: center;

}
#experience-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-areas: 
    "code code"
    "database database"
    "web design";
    grid-area: experience;

}
#headline{
    grid-area: headline;
}
#student-picture{
    grid-area:student-pic;
    text-align: center;
}
#student-quote{
    grid-area: quote;
}
#student-profile{
    grid-area: profile;
}
#student-contact{
    grid-area: contact;
    text-align: center;
}
#experience-code{
    grid-area: code;
}
#experience-database{
    grid-area: database;
}
#experience-web{
    grid-area: web;
}
#experience-design{
    grid-area: design;
}
@media screen and (max-width: 1024px){
    #main-grid{
        column-gap: 35px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "headline headline"
        "quote student-pic"
        "quote contact"
        "profile profile"
        "experience experience";
    }
    #experience-grid{
        row-gap: 20px;
        column-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "code web"
        "database design";
    }
}
@media screen and (max-width: 450px){
    #main-grid{
        grid-template-columns: 1fr;
        grid-template-areas:
        "headline"
        "student-pic"
        "contact"
        "quote"
        "profile"
        "experience";
    }
    #experience-grid{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "code"
        "web"
        "database"
        "design";
    }
}